@media (min-width: 1400px) {

    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1623px;
    }
}

@media (max-width: 1600px) {
    .main-navbar::before {
        content: "";
        width: 370px;
    }
    h1 {
        font-size: 60px;
        font-weight: 400;
        line-height: 75px;
        letter-spacing: 1px;
    }
    .banner-bottom-right::before {
        left: 178px;
        top: 58px;
        width: 10%;
    }
    .banner-social-icon ul li {
        margin-right: 6px;   
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    #app-download-area {
        padding: 120px 0;
    }

}

@media (max-width:1460px) {
    .banner-bottom-right::before {
       display: none;
    }
    .why-choose-img {
        position: relative;
    }
    .why-choose-img img{
        width: 100%;
    }
    #testimonial-area .owl-carousel .owl-nav .owl-prev {
        left: 0;
    }
    #testimonial-area .owl-carousel .owl-nav .owl-next {
        right: 0;
    }
    .community-icon {
        display: none;
    }
    .app-download-button a {
        padding-right: 4PX;
    }
    .mean-menu {
        padding-left:160px;
    }
    .main-navbar .navbar .navbar-nav .nav-item {
        margin-right: 7px;
    }
    .about-right-content {
        padding: 0px 0;
    }
    .about-list li {
        padding-bottom: 14px;
        font-size: 16px;
    }
    .about-list li img {
        padding-right: 7px;
    }
    .banner-slider-img {
        padding: 115px 0px;
        margin: 0;
    }
    .mean-menu {
        padding-left: 20px;
    }
    .course-features {
        padding: 10px 5px;
    }
    .course-features ul {
        justify-content:inherit;
    }
    .course-features ul li {
        font-size: 13px;
        padding-right: 10px;
        margin-right: 16px;
        text-align: center;
    }
    .course-author h6 {
        font-size: 16px;
        padding-left: 7px;
    }
    .popular-course-card {
        padding: 30px 15px;
    }
}

@media (max-width: 1199px) {
    .banner-social-icon ul li {
        margin-right: 1px;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .banner-bottom-right-item {
        padding-right: 15px;
        margin-right: 15px;
    }
    .categorie-item {
        display: inherit ;
        text-align: center;
        height: 86%;
    }
    h1 {
        font-size: 45px;
        line-height: 60px;
    }
    .banner-slider-text {
        padding-left: 20px;
        padding-right: 15px;
    }
}

@media (max-width: 992px) {
    .choose-element-one {
        display: none;
    }
    .why-choose-img {
        padding-top: 20px;
    }
    .main-responsive-nav .mean-container a.meanmenu-reveal {
        padding: 21px 0 0;
    }
    .navbar-area::before {
        width: 40%;
    }
    .banner-left-color{
        display: none;
    }
    #hero-area-one .owl-theme .owl-dots {
         position: inherit; 
        transform: rotate(0deg);
        margin-top: 30px;
        left: 0;
    }
    .topbar-left ul {
        display: inherit;
    }
    .topbar-left ul li::after {
      display: none;
    }
    #hero-area-one .owl-theme .owl-dots::before, #hero-area-one .owl-theme .owl-dots::after  {
        display: none;
     }
     .video-btn {
        justify-content: center;;
        padding-right: 0px;
        padding-top: 90px;
    }
    .banner-social-icon {
        padding-top: 17px;
        background: var(--main-color);
        padding-bottom: 17px;
        text-align: center;
    }
    .banner-bottom-right-item {
        padding-right: 0;
        margin-right: 0;
    }
    .course-tabs-button .nav-tabs {
        padding-top: 0;
        padding-bottom: 33px;
        justify-content: center;
    }
    .partner-logo-wrapper {
        width: 100%;
        padding-top: 34px;
    }
    .banner-slider-text p {
        width: 100%;
    }
    .banner-search-form {
        width: 100%;
        padding-top: 30px;
    }
}

@media (max-width: 767px) {
    .course-tabs-button .nav-item {
        padding-right: 10px;
        margin-bottom: 15px;
    }
    #partners-area .section-heading-text a {
        margin-top: 30px;
    }
    .section-heading-text {
        text-align: center;
    }
    .section-heading {
        padding-bottom: 30px;
        text-align: center;
    }
    .news-card-wrapper {
        margin-bottom: 30px;
    }
    .footer-menu {
        position: relative;
        padding-top: 20px;
    }
    #app-download-area {
        padding: 100px 0;
        background-position: right center;
    }
    .news-all-button {
        padding-top: 0;
        padding-bottom: 25px;
    }
    .mentorship-card {
        margin-bottom: 30px;
    }
    #testimonial-area .owl-carousel .owl-item img {
        width: 100%;
    }
    #instructors-area .owl-carousel .owl-nav {
         position: inherit;
        top:0px;
    }
    .heading-short {
        width: 100%;
    }
    .navbar-area::before {
        width: 50%;
    }
    .topbar-left ul {
        display: flex;
        justify-content: center;
    }
    .topbar-right ul {
        justify-content: center;
        padding-top: 10px;
    }
    .copyright-text {
        text-align: center;
    }
    .copyright-social {
        text-align: center;
        padding-top: 15px;
    }
    .community-before::before {
       display: none;
    }
    .community-icon {
        width: 26%;
        display: block;
    }
    .banner-left-color img {
      display: none;
    }
    .banner-slider-text p {
        width: 100%;
        font-size: 16px;
    }
    .about-right-content {
        padding-top: 30px;
    }
     h1 {
        font-size: 35px;
        line-height: 45px;
    }
    .section-padding {
        padding: 85px 0;
    }
    .community-before {
        padding: 80px 0;
    }
    #marquee-area {
        padding: 0px 0 85px 0;
    }
}

@media (max-width: 576px) {
    .banner-slider-text {
        padding-left: 20px;
    }
    .banner-bottom-right {
        display: inherit;
    }
    .banner-bottom-right-item {
        padding-top: 20px;
        border: none;
    }
    
}

@media (max-width: 480px) {
    .topbar-left ul li:last-child {
        display: none;
    }
}

@media (max-width: 361px) {}